
.id {
	grid-column: 1 / 2;
	font-weight: 600;

	padding: calc(var(--content-row-gap) / 2) var(--col-gap) calc(var(--content-row-gap) / 2) var(--content-padding-h);

	border-left: 4px solid transparent;
}

.edited {
	border-color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.selected {
	background-color: var(--vscode-editor-selectionBackground);
}

.content {
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: auto 1fr;

	padding: calc(var(--content-row-gap) / 2) var(--content-padding-h) calc(var(--content-row-gap) / 2) 0;
	row-gap: var(--row-gap);
	column-gap: var(--col-gap);
}

.locale {
	grid-column: 1 / 2;
	opacity: .7;
}

.value {
	grid-column: 2 / 3;
}
