
.pluralGrid {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: var(--col-gap);
	row-gap: var(--row-gap);
	align-items: center;
}

.pluralFormIndex {
	grid-column: 1 / 2;
	opacity: .5;
}

.pluralFormValue {
	grid-column: 2 / 3;
}
